export(analyze_data)
export(generate_eda_report)
export(get_ai_insights)
export(recommend_statistical_tests)
export(simple_eda_report)
import(dplyr)
import(ggplot2)
importFrom(corrplot,corrplot)
importFrom(DT,datatable)
importFrom(httr,POST)
importFrom(httr,add_headers)
importFrom(httr,content)
importFrom(jsonlite,fromJSON)
importFrom(jsonlite,toJSON)
importFrom(knitr,kable)
importFrom(psych,describe)
importFrom(rmarkdown,render)
importFrom(VIM,aggr)
importFrom(tidyr,gather)
importFrom(tibble,rownames_to_column)
